@use "./base";
@use "./utils";
@use "./components";
@use "./layouts";

body {
    background-color: base.$clr-white;
    font-family: 'Roboto Slab', serif;
    overflow-x: hidden;
}

.app {
    width: 100%;   
}
.app-max-height {
    height: 100vh;
    overflow: hidden;
}