//media query control
@mixin mQ($arg) {
    @media screen and (min-width: $arg) {
        @content;
    }
}

@mixin flex() {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin headings() {
    font-size: $fontSize;
    font-weight: $fontWeight;
    color: base.$headingColor;
}