/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul,
ol elements with a list role,
which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* ------------------------------------*/
/*        FONT SIZES                   */
/*-------------------------------------*/
/* screen reader only */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  /* added line */
  border: 0;
}

.btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.btn-save {
  background: hsl(13deg, 75%, 58%);
  padding: 1rem;
  border-radius: 5px;
}

.btn-preview {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-add-document {
  background-color: hsl(13deg, 75%, 58%);
  color: hsl(0deg, 0%, 100%);
  padding: 0.5rem;
  border-radius: 8px;
}

/*
.navbar-toggler {

}
*/
.menu-btn-js {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide-icon-js {
  display: none;
}

.hide-markdown {
  display: none;
}

.header {
  background-color: hsl(220deg, 7%, 18%);
  color: hsl(0deg, 0%, 100%);
  position: relative;
}

.top-menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.nav {
  flex: 1 1 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 2rem;
}

.main-page {
  transition: transform 0.3s;
}

.main-page.collapse {
  transform: translate3d(250px, 0, 0);
}

.current-file {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1 1 80%;
  background-color: hsl(216deg, 8%, 12%);
  padding: 1rem;
}

.file,
.maintenance {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex: 1 1 60%;
}

.maintenance {
  flex: 1 1 30%;
}

.file {
  width: 100%;
}

.document-title-wrapper {
  flex: 1 1 80%;
  max-width: 300px;
}

.document-title {
  background: transparent;
  color: white;
  border: none;
  appearance: none;
  width: 100%;
  cursor: text;
}

.navbar-collapse {
  width: 250px;
  position: absolute;
  left: 0;
  top: 0px;
  background: hsl(216deg, 8%, 12%);
  height: 100vh;
  color: hsl(0deg, 0%, 100%);
  transform: translate3d(-250px, 0, 0);
  transition: transform 0.3s;
  padding-block-start: 1.5rem;
  padding-inline-start: 1.5rem;
}

.collapse {
  transform: translateZ(0);
}

.aside-main-title {
  font-family: "Commissioner", sans-serif;
  font-size: 0.9375rem;
  font-weight: 700;
  text-transform: uppercase;
  color: hsl(0deg, 0%, 100%);
  letter-spacing: 2px;
}

.aside-secondary-title {
  font-family: "Roboto Slab", serif;
  font-size: 0.875rem;
  color: hsl(216deg, 4%, 51%);
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2px;
  margin-block: 1rem;
}

.nav-item {
  position: relative;
  display: flex;
  justify-content: start;
  padding-block: 1rem;
  cursor: pointer;
}
.nav-item::before {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  margin-block-start: -8px;
  content: "";
  background-image: url("../assets/icon-document.svg");
  background-repeat: no-repeat;
}

.nav-link {
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
  align-items: first baseline;
  color: hsl(0deg, 0%, 100%);
  text-decoration: none;
  font-size: 0.9375rem;
  font-weight: 400;
}

.doc-nav-title {
  font-size: 0.8125rem;
  color: hsl(216deg, 4%, 51%);
}

.preview {
  background-color: hsl(0deg, 0%, 96%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

body {
  background-color: hsl(0deg, 0%, 100%);
  font-family: "Roboto Slab", serif;
  overflow: hidden;
}

.App {
  width: 100%;
  overflow: hidden;
}
