@use '../base';
@use '../utils';

.btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.btn-save {
    background: base.$clr-orange-med;
    padding: 0.7rem;
    border-radius: 5px;

    @include utils.mQ(45rem) {
        min-width: 10rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
    }
}

.btn-preview {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-add-document {
    background-color: base.$clr-orange-med;
    color: base.$clr-white;
    padding: 0.5rem;
    border-radius: 8px;
}

.show-btn-text {
    @include utils.mQ(45rem) {
        color: base.$clr-white;
        position: relative;
        width: auto;
        height: auto;
        font-weight: 400;
        font-family: base.$font-secondary;
    }
}

.menu-btn-js {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide-icon-js {
    display: none;
}