@use '../base';
@use '../utils';

.btn {
    border: none;
    background-color: transparent;
    cursor: pointer;

    &:focus,
    &:hover {
        cursor: pointer;
        outline: dashed currentColor;
        outline-offset: 0.15em;
    }
}

.btn-save {

    &:focus,
    &:hover {
        outline: dashed base.$clr-white;
    }

    @include utils.flex();
    background: base.$clr-orange-med;
    padding: 0.4rem;
    border-radius: 5px;

    @include utils.mQ(45rem) {
        min-width: 10rem;
        gap: 0.5rem;
        padding: 0.7rem;
    }
}

.btn-delete {

    &:focus,
    &:hover {
        outline: dashed base.$clr-white;
    }
}

.menu-btn-js {
    @include utils.flex();
}

.btn-preview {
    color: base.$clr-white;
    @include utils.flex();
}

.light-mode {
    .btn-preview {
        color: base.$clr-black;
    }
}

.btn-add-document {
    background-color: base.$clr-orange-med;
    color: base.$clr-white;
    padding: 0.5rem;
    border-radius: 8px;
}

.show-btn-text {
    @include utils.mQ(45rem) {
        color: base.$clr-white;
        position: relative;
        width: auto;
        height: auto;
        font-weight: 400;
        font-family: base.$font-commissioner;
    }
}

.hide-icon-js {
    display: none;
}

.delete-close {
    background-color: black;
    border: transparent;
    padding: .45rem;
    border-radius: 5px;
    align-self: flex-end;

    &:focus,
    &:hover {
        outline: dashed base.$clr-almost-black;
    }
}

.btn-close-toggle {
    margin-block: 1rem;
    color: base.$clr-white;
    background-color: base.$clr-black;
    border: none;
    outline: none;
    padding: 1rem;
    border-radius: 15px;
}

.navbar-toggler {

    &:focus,
    &:hover {
        outline: dashed base.$clr-white;
    }

    &:disabled {
        outline: none;
        cursor: not-allowed;
        opacity: 0.25;
    }
}

.btn-close-theme {
    display: block;
    bottom: 2rem;
    margin-block: 1.5rem 1rem;
    color: base.$clr-white;
    background: base.$clr-orange-med;
    padding: .5rem;
    border-radius: 5px;
}