@use '../base';
@use '../utils';

.navbar-collapse {
    width: 250px;
    position: absolute;
    left: 0;
    top: 0px;
    background: base.$clr-almost-black;
    height: 100vh;
    color: base.$clr-white;
    transform: translate3d(-250px, 0, 0);
    transition: transform .3s;
    padding-block-start: 1.5rem;
    padding-inline-start: 1.5rem;
}

.collapse {
    transform: translateZ(0);
}

.aside-main-title {
    font-family: base.$font-commissioner;
    font-size: base.$fs-15;
    font-weight: 700;
    text-transform: uppercase;
    color: base.$clr-white;
    letter-spacing: 2px;
}

.aside-secondary-title {
    font-family: base.$font-roboto-slab;
    font-size: base.$fs-14;
    color: base.$clr-off-white;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 2px;
    margin-block: 1rem;
}

.nav-item {
    position: relative;
    display: flex;
    justify-content: start;
    padding-block: 1rem;
    cursor: pointer;

    &::before {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 50%;
        margin-block-start: -8px;
        content: "";
        background-image: url("../assets/icon-document.svg");
        background-repeat: no-repeat;
        z-index: -1;
    }
}

.nav-link {
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    align-items: first baseline;
    color: base.$clr-white;
    text-decoration: none;
    font-size: base.$fs-15;
    font-weight: 400;
    width: 85%;
    background-color: transparent;
    border: none;
   
    &:hover {
        cursor: pointer;
    }
}

.doc-nav-title {
    font-size: base.$fs-13;
    color: base.$clr-text-grey;
}