@use '../base';

.header {
    background-color: base.$clr-charcoal;
    color: base.$clr-white;
    position: relative;
}

.top-menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    // gap: 1rem;
}

.nav {
    flex: 1 1 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 2rem;
}

.main-page {
    transition: transform .3s;
}

.main-page.collapse {
    transform: translate3d(250px, 0, 0);
}

.current-file {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1 1 80%;
    background-color: base.$clr-almost-black;
    padding-inline: 1rem;
    padding-block: 0.5rem;
}

.file,
.maintenance {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex: 1 1 60%;
}

.maintenance {
    flex: 1 1 30%;
}

.file {
    width: 100%;
}

.document-title-wrapper {
    flex: 1 1 80%;
    max-width: 300px;

}

.document-title {
    background: transparent;
    color: white;
    border: none;
    appearance: none;
    width: 100%;
    cursor: text;
}

