@use '../base';
@use '../utils';

.header {
    background-color: base.$clr-charcoal2;
    color: base.$clr-white;
    position: relative;
}

.top-menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    // gap: 1rem;
}

.nav {
    flex: 1 1 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 2rem;
    max-width: 4.5rem;
    height: 4.5rem;
}

.main-page {
    transition: transform .3s;
}

.main-page.collapse {
    transform: translate3d(250px, 0, 0);
}

.current-file {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1 1 80%;
    background-color: base.$clr-charcoal;
    padding-inline: 1.8rem;
    padding-block: 0.5rem;

    @include utils.mQ(45rem) {
        padding-block: 1rem;
    }
}

.file,
.maintenance {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex: 1 1 60%;
}

.maintenance {
    flex: 1 1 30%;
    flex-direction: row-reverse;
}

.file {
    width: 100%;
}

.document-title-wrapper {
    flex: 1 1 80%;
    max-width: 300px;
    position: relative;
    &::before {
        position: absolute;
        content: "";
        height: 100%;
        width: 2rem;
       // background-color: red;
        background-image: url("../../../assets/logo.svg");
        background-repeat: no-repeat;
        top: 0;
        left: 2.5rem;
    }
}

.document-title-wrapper input {
    &:hover {
        box-shadow: 0 1px base.$clr-white;
    }

    &:focus {
        // border-bottom: 1px solid base.$clr-white ;
        box-shadow: 0 1px base.$clr-white;
    }
}

.document-title {
    position: relative;
    background: transparent;
    color: white;
    border: none;
    outline: none;
    appearance: none;
    width: 100%;
    cursor: text;
    font-weight: 400;
    font-size: base.$fs-15;
    font-family: base.$font-roboto;    
}

.show-doc-title {
    @include utils.mQ(45rem) {
        font-size: base.$fs-13;
        font-weight: 300;
        color: base.$clr-text-grey;
        width: 100%;
        height: auto;
        padding: 0;
        margin-top: -1rem;
        overflow: hidden;
        clip: auto;
    }
}

.logo-img {
    display: none;
    @include utils.mQ(61.25rem) {
        display: block;
    }
}

.light-mode {
    .preview-toggle {
        background-color: base.$clr-off-white;
        color: base.$clr-black;
    }
 }