@use '../base';
@use '../utils';

.container {
    padding-inline: 1rem;
    width: 100%;
    padding-block: 2.5rem;
    position: relative;

    @include utils.mQ(45rem) {
        display: flex;
        gap: 2rem;
    }
}

.editor,
.result {
    max-width: 42rem;
    margin-inline: auto;

    @include utils.mQ(45rem) {
        flex: 1 1 50%;
    }
}

.preview-toggle {
    flex: 1 1 50%;
    background-color: base.$clr-off-white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 0.75rem;
    padding-inline: 1rem;
}

.markdown-toggle-heading {
    text-transform: uppercase;
    font-family: base.$font-roboto-mono;
    font-weight: 400;
    font-size: base.$fs-14;
    color: base.$clr-text-grey;
}

ol li {
    list-style: decimal;
}

ul {
    padding-inline: 1rem;

    li {
        list-style: disc;

        &::marker {
            color: red;
        }
    }
}

form {
    height: 100%;
}

.markdown-content {
    border: none;
    font-family: base.$font-roboto-mono;
    font-weight: 400;
    font-size: base.$fs-14;
    color: base.$clr-text-grey;
    letter-spacing: 2px;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    resize: none;
}

.result h1 {
    font-size: base.$fs-32;
    font-weight: 700;
    color: base.$clr-charcoal2;
    font-family: base.$font-roboto-slab;
}

.result h2 {
    font-size: base.$fs-28;
    font-weight: 300;
    color: base.$clr-charcoal2;
}

.result h3 {
    font-size: base.$fs-24;
    font-weight: 700;
    color: base.$clr-charcoal2;
    padding-block: 1rem;
}

.result h4 {
    font-size: base.$fs-20;
    font-weight: 700;
    color: base.$clr-charcoal2;
}

.result h5 {
    font-size: base.$fs-16;
    font-weight: 700;
    color: base.$clr-charcoal2;
}

.result h6 {
    font-size: base.$fs-14;
    font-weight: 700;
    color: base.$clr-orange-med;
}

pre {
    background-color: base.$clr-off-white;
    padding: 1.5rem;
    border-radius: 4px;
}

.result p,
.result li {
    font-family: base.$font-roboto-slab;
    font-size: base.$fs-14;
    font-weight: 400;
    color: base.$clr-text-grey;
    line-height: 1.7;
}

.result p {
    padding-block: 1.5rem;
}

.result-container {
    position: absolute;
    top: 0;
    left: 0;
    padding-inline: 1rem;
    background: base.$clr-white;

    @include utils.mQ(45rem) {
        position: relative;
        padding-inline: 3rem;
    }
}

.editor-form-container {
    @include utils.mQ(45rem) {
        display: none;
    }
}

.result blockquote p {
    font-weight: 700;
    color: base.$clr-almost-black;
}

blockquote {
    background: base.$clr-off-white;
    margin-block: 1rem;
    padding-inline: 1rem;
    border-radius: 4px;
    position: relative;
    overflow: hidden;

    &::before {
        position: absolute;
        content: "";
        width: 4px;
        height: 100%;
        top: 0;
        left: 0;
        background-color: base.$clr-orange-med;
    }
}




/*


.react-mde .mde-header {
    display: none;
}

#root,
.App,
.main {
    height: 100vh;
    overflow: hidden;
}

.react-mde-wrapper.preview {
    overflow-y: scroll;
    height: 100vh;
}

.mde-text {
    min-height: 100vh;
    font-family: base.$font-roboto-mono;
    font-size: base.$fs-14;
    font-weight: 400;
}

.react-mde .invisible {
    @include utils.mQ(45rem) {
        display: block !important;
        // flex: 1 1 50%;
    }
}

.react-mde {
    @include utils.mQ(45rem) {
        display: flex;
    }
}

.react-mde * {
    box-sizing: border-box;

    @include utils.mQ(45rem) {
        flex: 1 1;
        // width: 50vw;
    }
}

.react-mde-wrapper.write .react-mde * {
    width: 100vw;
}

.mde-textarea-wrapper {
    height: 100%;
}

.mde-textarea-wrapper textarea.mde-text {
    resize: none;
    overflow-y: visible;
    height: 100% !important;
}







.mde-preview .mde-preview-content h3 {
    font-size: base.$fs-24 !important;
    font-weight: 700 !important;
    color: base.$clr-charcoal2;
}


.editor-wrapper {
    flex: 1 1 50%;
}

.editor {
    display: block;
    width: 100%;
    resize: none;
}



*/